<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用redis缓存 -->
    <bean id="weiXinPayConfig" class="com.mycar.utils.WeiXinPayConfig" scope="singleton">
        <constructor-arg index="0" value="apiclient_cert.p12" />
    </bean>

</beans>