<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycar.mapper.OrderMapper">

    <select id="getOrderById" parameterType="long" resultType="com.mycar.model.Order">
        SELECT * FROM `Order` WHERE id=#{id}
    </select>

    <select id="getOrdersByStatus" parameterType="int" resultType="com.mycar.model.Order">
        SELECT * FROM `Order` WHERE status=#{status}
    </select>

    <insert id="insertOrder" parameterType="com.mycar.model.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `Order` (`viid`, `oid`, `begin`, `end`, `rent_sid`, `return_sid`, `name`, `drivers`, `identity`, `phone`, `bill`, `is_free_insurance`, `pre_cost`, `pay_info`, `cost_info`)
        VALUES (#{viid}, #{oid}, #{begin}, #{end}, #{rent_sid}, #{return_sid}, #{name}, #{drivers}, #{identity}, #{phone}, #{bill}, #{is_free_insurance}, #{pre_cost}, #{pay_info}, #{cost_info})
    </insert>

    <insert id="updateOrder" parameterType="com.mycar.model.Order">
        UPDATE `Order`
        <set>
            <if test="viid != null">`viid`=#{viid},</if>
            <if test="vid  != null">`vid`=#{vid},</if>
            <if test="begin != null">`begin`=#{begin},</if>
            <if test="end != null">`end`=#{end},</if>
            <if test="rent_sid != null">`rent_sid`=#{rent_sid},</if>
            <if test="return_sid != null">`return_sid`=#{return_sid},</if>
            <if test="name != null">`name`=#{name},</if>
            <if test="drivers != null">`drivers`=#{drivers},</if>
            <if test="identity != null">`identity`=#{identity},</if>
            <if test="phone != null">`phone`=#{phone},</if>
            <if test="bill != null">`bill`=#{bill},</if>
            <if test="is_free_insurance != null">`is_free_insurance`=#{is_free_insurance},</if>
            <if test="pre_cost != null">`pre_cost`=#{pre_cost},</if>
            <if test="pay_info != null">`pay_info`=#{pay_info},</if>
            <if test="rbegin != null">`rbegin`=#{rbegin},</if>
            <if test="rend != null">`rend`=#{rend},</if>
            <if test="rrent_sid != null">`rrent_sid`=#{rrent_sid},</if>
            <if test="rreturn_sid != null">`rreturn_sid`=#{rreturn_sid},</if>
            <if test="distance != null">`distance`=#{distance},</if>
            <if test="cost_info != null">`cost_info`=#{cost_info},</if>
            <if test="status != null">`status`=#{status},</if>
        </set>
        WHERE id=#{id}
    </insert>

    <update id="updateRentingOrder" parameterType="com.mycar.model.Order">
        UPDATE `Order` SET viid=#{viid}, vid=#{vid}, drivers=#{drivers}, rbegin=#{rbegin}, rend=#{rend}, rrent_sid=#{rrent_sid}, rreturn_sid=#{rreturn_sid}, cost_info=#{cost_info}, pay_info=#{pay_info}, status=#{status}
        WHERE id=#{id}
    </update>

    <update id="updateStatus" parameterType="com.mycar.model.Order">
        UPDATE `Order` SET status=#{status} WHERE id=#{id}
    </update>

    <update id="updateCostInfoAndStatus" parameterType="com.mycar.model.Order">
        UPDATE `Order` SET cost_info=#{cost_info}, status=#{status} WHERE id=#{id}
    </update>

    <update id="updateInfoAndStatus" parameterType="com.mycar.model.Order">
        UPDATE `Order`
        <set>
            <if test="rend!=null">rend=#{rend},</if>
            <if test="distance!=null">distance=#{distance},</if>
            <if test="pay_info!=null">pay_info=#{pay_info},</if>
            <if test="cost_info!=null">cost_info=#{cost_info},</if>
            <if test="status!=null">status=#{status},</if>
        </set>
        WHERE id=#{id}
    </update>

    <update id="deleteOrderById">
        DELETE FROM `Order` WHERE id=#{id}
    </update>

    <select id="getOrdersByIdentityAndPhone" resultType="com.mycar.model.Order">
        SELECT * FROM `Order` WHERE `identity`=#{identity} and phone=#{phone}
    </select>

    <select id="getOrdersNumberByStatus" resultType="com.mycar.model.OrderStatusCount">
        SELECT status, COUNT(1) as count FROM `Order` GROUP BY status;
    </select>

    <select id="getOrdersByViidInInterval" resultType="com.mycar.model.Order">
        SELECT oid,viid,vid,rbegin,rend FROM `Order`
        WHERE status BETWEEN 2 AND 4 AND
        ( rbegin &lt;= #{end} AND rend &gt;= #{begin} )
        <if test="viid != null">
            AND viid=#{viid}
        </if>
    </select>

    <select id="getOrdersByVidInInterval" resultType="com.mycar.model.Order">
        SELECT oid,viid,vid,rbegin,rend FROM `Order`
        WHERE status BETWEEN 2 AND 4 AND vid=#{vid}
        AND ( rbegin &lt;= #{end} AND rend &gt;= #{begin} )
    </select>

    <select id="getOrdersByScheduleInterval" resultType="com.mycar.model.Order">
        SELECT oid,viid,vid,`begin`,`end`,rbegin,rend,status FROM `Order`
        <if test="status!=null">
        WHERE (status = ${status} AND `begin` &lt;= #{end} AND `end` &gt;= #{begin})
        </if>
        <if test="status==null">
        WHERE (status = 1 AND `begin` &lt;= #{end} AND `end` &gt;= #{begin})
        OR ( status = 2 AND `rbegin` &lt;= #{end} AND `rend` &gt;= #{begin})
        </if>
        <if test = "viid != null ">
            AND viid = #{viid}
        </if>
    </select>
</mapper>