<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycar.mapper.VehicleInfoCostMapper">

    <select id="get" resultType="com.mycar.model.VehicleInfoCost">
        SELECT * FROM VehicleInfoCost WHERE viid=#{viid}
    </select>

    <update id="update" parameterType="com.mycar.model.VehicleInfoCost">
        UPDATE VehicleInfoCost
        <set>
            <if test="base_insurance != null">
                base_insurance = #{base_insurance},
            </if>
            <if test="free_insurance != null">
                free_insurance = #{free_insurance},
            </if>
            <if test="discounts != null">
                discounts = #{discounts},
            </if>
            <if test="day_costs != null">
                day_costs = #{day_costs},
            </if>
        </set>
        WHERE viid = #{viid}
    </update>

    <insert id="insert" parameterType="com.mycar.model.VehicleInfoCost">
        INSERT INTO VehicleInfoCost (viid, base_insurance, free_insurance, discounts, day_costs)
        VALUES (#{viid}, #{base_insurance}, #{free_insurance}, #{discounts}, #{day_costs})
    </insert>
</mapper>