<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycar.mapper.VehicleInfoMapper">
    <select id="getById" parameterType="long" resultType="com.mycar.model.VehicleInfo">
        SELECT * FROM VehicleInfo WHERE id=#{id}
    </select>

    <select id="getAll" resultType="com.mycar.model.VehicleInfo">
        SELECT * FROM VehicleInfo
         <where>
             <if test="is_delete!=null">
                 is_delete=#{is_delete}
             </if>
         </where>
    </select>

    <insert id="insertVehicleInfo" parameterType="com.mycar.model.VehicleInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO VehicleInfo(`name`,`displacement`, `gearbox`, `boxes`, `manned`, `spare`, `description`, `picture`)
        VALUES (#{name}, #{displacement}, #{gearbox}, #{boxes}, #{manned}, #{spare}, #{description}, #{picture})
    </insert>

    <update id="updateVehicleInfo" parameterType="com.mycar.model.VehicleInfo">
        UPDATE VehicleInfo
        <set>
            <if test="name!=null and name != ''">
                `name`=#{name},
            </if>
            <if test="displacement!=null and displacement != ''">
                displacement=#{displacement},
            </if>
            <if test="gearbox!=null and gearbox != ''">
                gearbox=#{gearbox},
            </if>
            <if test="boxes!=null and boxes != ''">
                boxes=#{boxes},
            </if>
            <if test="manned!=null and manned != ''">
                manned=#{manned},
            </if>
            <if test="spare!=null">
                spare=#{spare},
            </if>
            <if test="description!=null and description != ''">
                description=#{description},
            </if>
            <if test="picture != null and picture != ''">
                picture=#{picture}
            </if>
        </set>
         WHERE id=#{id}
    </update>

    <update id="updateVehicleInfoToDelete">
        UPDATE VehicleInfo SET is_delete=1 WHERE id=#{id}
    </update>
</mapper>