<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycar.mapper.VehicleMapper">
    <select id="getById" parameterType="long" resultType="com.mycar.model.Vehicle">
      SELECT * FROM Vehicle WHERE id=#{id}
    </select>

    <select id="getByViid" parameterType="long" resultType="com.mycar.model.Vehicle">
        SELECT * FROM Vehicle
        <where>
                <if test="viid!=null">AND viid=#{viid}</if>
        <if test="is_delete!=null">AND is_delete=#{is_delete}</if>
        </where>
    </select>

    <select id="getByViidAndStatus" resultType="com.mycar.model.Vehicle">
        SELECT * FROM Vehicle WHERE viid=#{viid} and status=#{status}
        <if test="is_delete != null">
            AND is_delete=#{is_delete}
        </if>
    </select>

    <select id="getAll" resultType="com.mycar.model.Vehicle">
        SELECT * FROM Vehicle
        <where>
            <if test = "is_delete!=null">
                is_delete=#{is_delete}
            </if>
        </where>
    </select>

    <select id="getByNumber" parameterType="string" resultType="com.mycar.model.Vehicle">
        SELECT * FROM Vehicle WHERE number=#{number}
    </select>

    <update id="updateVehicleById" parameterType="com.mycar.model.Vehicle">
        UPDATE Vehicle SET status=#{status}, begin=#{begin}, end=#{end} WHERE id=#{id}
    </update>

    <update id="updateVehicleDescription" parameterType="com.mycar.model.Vehicle">
        UPDATE Vehicle SET description=#{description} WHERE id=#{id}
    </update>

    <update id="updateVehicleToDelete">
        UPDATE Vehicle SET is_delete=1 WHERE id =#{id}
    </update>

    <insert id="insertVehicle" parameterType="com.mycar.model.Vehicle" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Vehicle(`viid`, `number`, `description`)
        VALUES(#{viid}, #{number}, #{description})
    </insert>

    <select id="getVehicleCount" resultType="com.mycar.response.VehicleCount">
        SELECT viid, count(1) as `count` FROM `Vehicle`
        <where>
            <if test="is_delete!=null">
                is_delete=#{is_delete}
            </if>
            <if test="viid!=null">
                AND viid=#{viid}
            </if>
        </where>
        GROUP BY viid
    </select>

</mapper>